/* 
 *
 * global 
 * this means that the item does not have id or class
 *
 */


body {
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'butler';
}

a { 
	color: #96281B;
} a:hover {
	text-decoration: none;
	color: #C0392B;
}

p {
	text-align:  justify;
}