{% extends "blog/main.html" %}

{% block title %}| About{% endblock %}
{% block content %}

<!--<p>Hello, my name is Audrey Serene. I'm 16 years old and I live in Kansas City, Missouri. I started sewing when I was 10 years old, and at this point only hand sewed <a href="http://sleepyvulpix.weebly.com">pokemon plushies</a>. Eventually, at about 14, I got a sewing machine, and promptly did not use it for another two years! Finally, I did start sewing with it and made corsets for my brother and sister for Rocky Horror, which started my love of sewing clothing.</p>
<p>My style is casual and wearable. I want everything I make to be a beautiful sort of minimalist; something that won't draw incredible attention to itself and can be usable in all states of life. This adds to an emphasis on active and streetwear.</p>-->

<p>This is a movie review site...</p>

{% endblock %}